<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patient Dashboard</title>
</head>
<body>
  {% extends 'base.html' %}
  
  {% block content %}
    <h2>Welcome, {{ user.first_name }} {{ user.last_name }}</h2>
    
    <h3>All Posts:</h3>
    <br>
    <ul>
      {% for post in posts %}
        <li style=" display: flex;
        flex-direction: column;
        background-color: #fff;
        border: 1px solid #784d4d;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        transition: background-color 0.3s, box-shadow 0.3s;
        border-radius: 8px;
        padding: 5px;">
          <b><a class=" text-decoration-none" href="{% url 'article-detail' post.pk %}">{{ post.title }}</b></a> - {{ post.author.first_name }} {{ post.author.last_name }}
          <br><br>
          <img src="{{ post.BlogImage.url }}" alt="{{ post.title }}" class="img-thumbnail" style="max-width: 150px;">
          <br>
          {{ post.summary|slice:":110" }}...  
          <br><br>
        </li>
        <br>
      {% empty %}
        <li>No posts available.</li>
      {% endfor %}
    </ul>
    
   
  {% endblock %}
</body>
</html>
